html {
  height: 100vh;
}

body {
  height: 100vh;
  overflow: hidden;
  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;
  /*removes default style*/
  display: flex;
  /*enables flex content for its children*/
  box-sizing: border-box;
}

.column {
  height: 100vh;
  /*allows both columns to span the full height of the browser window*/
  display: flex;
  flex-direction: column;
  /*places the left and right headers above the bottom content*/
}

#left {
  border-right: 0.5rem solid #6494ed;
  flex-shrink: 0;
  /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
  flex-shrink: 0;
  background-color: blue;
  color: white;
  padding: 1rem;
}

.top-right {
  flex-shrink: 0;
  display: inline-flex;
  background-color: red;
  color: white;
  padding: 1rem;
}

.bottom {
  flex-grow: 1;
  /*ensures that the container will take up the full height of the parent container*/
  overflow-y: auto;
  /*adds scroll to this container*/
  padding: 1rem;
}

#right .bottom.js-stickybit-parent {
  padding-top: 0;
}

.random-content::after {
  content: "241";
}

/* Style Section Headers */
h1[id] {
  color: #0e3377;
  background-color: #ffffff;
  z-index: 1;
  padding-top: 1rem;
}

/* Add a bottom border to section headers */
h1[id]:after {
  content: "";
  z-index: -1;
  height: 0.5rem;
  border-radius: 25px;
  width: 100%;
  display: block;
  background-color: #6494ed;
}

#left h1[id] {
  padding-top: 0;
}

/* Remove underline from linked code examples */
tr td:first-child a {
  text-decoration: none;
}

/* Style code examples */
tr td:first-child code:not([class]) {
  border: 1px dashed gray;
}

tr.obsolete td:first-child code:not([class]) {
  background-color: rgba(244, 67, 54, 0.3);
  border-color: #a70a01;
  color: #a70a01;
}

tr.obsolete td:last-child::before {
  content: "Obsolete";
  vertical-align: middle;
  margin-right: 0.75rem;
  font-weight: bold;
  color: #a70b01;
  position: relative;
  top: calc(-1.75 * 0.063rem);
}

pre code:not([class]) {
  border: none;
}