$px1: .063rem;


html {
    height: 100vh;
}

body {
    height: 100vh;   
    overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0px;  /*removes default style*/
    display: flex;  /*enables flex content for its children*/
    box-sizing: border-box;
}

.column {
    height: 100vh;  /*allows both columns to span the full height of the browser window*/
    display: flex;
    flex-direction: column;  /*places the left and right headers above the bottom content*/
}

#left {
    // min-width: 200px;
    border-right: 0.5rem solid hsla(219, 79%, 66%, 1);  
    flex-shrink: 0;  /*makes sure that content is not cut off in a smaller browser window*/
}

.top-left {
    flex-shrink: 0;
    background-color: blue;
    color: white;  
    padding: 1rem;  
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
    background-color: red;
    color: white;
    padding: 1rem;
}

.bottom {
    flex-grow: 1;  /*ensures that the container will take up the full height of the parent container*/
    overflow-y: auto;  /*adds scroll to this container*/
    padding: 1rem;
}

#right .bottom.js-stickybit-parent{
    padding-top: 0;
}

.random-content::after{
    content: "" + random(1000) + "";
}

#page-wrapper{
    // width: 100%;
    // max-width: 800px;
    // margin: 0 auto !important;
}

/* Style Section Headers */
h1[id]{
    color: hsla(219, 79%, 26%, 1);
    background-color: #ffffff;
    z-index: 1;
    padding-top: 1rem;
}

/* Add a bottom border to section headers */
h1[id]:after{
    content: '';
    z-index: -1;
    height: 0.5rem;
    border-radius: 25px;
    width: 100%;
    display: block;
    background-color: hsla(219, 79%, 66%, 1);
}

#left h1[id]{
    padding-top: 0;
}

/* Remove underline from linked code examples */
tr td:first-child a{
    text-decoration: none;
}

/* Style code examples */
tr td:first-child code:not([class]){
    border: 1px dashed gray;
}

tr.obsolete td:first-child code:not([class]){
    background-color: rgba(244, 67, 54, .3);
    border-color: rgb(167, 10, 0.9);
    color: rgb(167, 10, 0.9);
}


tr td:first-child code:not([class]):hover,
tr td:first-child code:not([class]):focus{
    // border-style: solid;
    // border-color: #000000;
    // color: #000000;
}

// tr td > *{
//     vertical-align: middle;
// }


// tr td:first-child mark{
//     background-color: yellow;
//     padding: 0.2rem 0.25rem;
//     vertical-align: middle;
//     margin-right: 0.75rem;
// }

// tr td:first-child [data-tippy-content]{
//     background: #6494ed;
//     color: #ffffff;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     border-radius: 100%;
//     font-size: 85%;
//     border: calc(11 * #{$px1}) solid #6494ed;
//     line-height: 0;
//     width: 0px;
//     opacity: 0.6;
//     transition: ease-out .2s;
//     margin-right: 0.75rem;
//     font-weight: bold;
//     text-decoration: none;
//     cursor: help;
// }

// tr.obsolete td:first-child [data-tippy-content]{
//     background-color: rgb(254, 201, 196);
//     border-color: rgb(254, 201, 196);
//     opacity: 1;
// }

tr.obsolete td:last-child::before{
    content: "Obsolete";
    vertical-align: middle;
    margin-right: 0.75rem;
    font-weight: bold;
    color: #a70b01;
    position: relative;
    top: calc(-1.75 * #{$px1});
}

// tr td:first-child [data-tippy-content]:hover,
// tr td:first-child [data-tippy-content]:focus{
//     opacity: 1;

// }

pre code:not([class]){
    border: none;
}